# Finding the best place to work 

* 2018: https://www.comparably.com/blog/best-places-to-work-2018/
* 2017: https://www.comparably.com/blog/best-places-to-work-competition/

Characteristics of a workplace I value (and the associated ranking provided by Comparably):
* How happy employees are
    * 2018-happy-large.txt
    * 2018-happy-small.txt
* How satisfied employees are with their managers   
    * 2018-managers-large.txt
    * 2018-managers-small.txt   
    * 2017-managers-large.txt
    * 2017-managers-small.txt
* How collaborative teams are in the company
    * 2018-culture-large.txt
    * 2018-culture-small.txt 
    * 2017-culture-large.txt                      
    * 2017-culture-small.txt     
* How well are women treated
    * 2018-women-large.txt
    * 2018-women-small.txt
    * 2017-women-large.txt
    * 2017-women-small.txt
* Great work life balance              
    * 2018-balance-large.txt              
    * 2018-balance-small.txt 
* Able to professionally develop
    * 2018-develop-large.txt
    * 2018-develop-small.txt
* Situated in Bay Area, CA
    * 2017-sf.txt   
    * bay-area-cities.csv
* Great benefits
    * 2018-benefits-large.txt             
    * 2018-benefits-small.txt
* Great compensation
    * 2018-pay-large.txt
    * 2018-pay-small.txt

## Cleaning the data

In [206]:
import re
import pandas as pd
import numpy as np

In [107]:
bay_area = [line for line in open('bay-area-cities.txt').read().split('\n') if line]
bay_area

['Alameda',
 'Albany',
 'American Canyon',
 'Antioch',
 'Atherton',
 'Belmont',
 'Belvedere',
 'Benicia',
 'Berkeley',
 'Brisbane',
 'Burlingame',
 'Campbell',
 'Clayton',
 'Colma',
 'Concord',
 'Corte Madera',
 'Cupertino',
 'Daly City',
 'Danville',
 'Dublin',
 'East Palo Alto',
 'El Cerrito',
 'Emeryville',
 'Fairfax',
 'Foster City',
 'Fremont',
 'Gilroy',
 'Half Moon Bay',
 'Hayward',
 'Healdsburg',
 'Hercules',
 'Hillsborough',
 'Lafayette',
 'Larkspur',
 'Livermore',
 'Los Altos',
 'Los Altos Hills',
 'Los Gatos',
 'Martinez',
 'Menlo Park',
 'Mill Valley',
 'Millbrae',
 'Milpitas',
 'Moraga',
 'Morgan Hill',
 'Mountain View',
 'Newark',
 'Novato',
 'Oakland',
 'Oakley',
 'Orinda',
 'Pacifica',
 'Palo Alto',
 'Petaluma',
 'Piedmont',
 'Pinole',
 'Pittsburg',
 'Pleasanton',
 'Redwood City',
 'Richmond',
 'Rohnert Park',
 'Ross',
 'Helena',
 'San Anselmo',
 'San Bruno',
 'San Carlos',
 'San Francisco',
 'San Jose',
 'San Leandro',
 'San Mateo',
 'San Pablo',
 'San Rafael',
 'San Ramon',
 'Santa Clara',
 'Santa Rosa',
 'Saratoga',
 'Sausalito',
 'Sebastopol',
 'Sonoma',
 'South San Francisco',
 'Suisun City',
 'Sunnyvalle',
 'Tiburon',
 'Union City',
 'Vallejo',
 'Walnut Creek',
 'Windsor',
 'Woodside']

In [141]:
def clean_2018_rank_data(filepath):
    ''' 
    input: file in the format: #. Company Name (City, State)
    output: pandas dataframe
    '''
    rank_list = list()
    company_list = list()
    city_list = list()
    state_list = list()
    
    for line in open(filepath).read().split('\n'):
        result = re.match(r'^(\d+)\. (.*) \((.*), ([A-Z][A-Z])\)', line)
        if result:
            rank_list.append(result.group(1))
            company_list.append(result.group(2))
            city_list.append(result.group(3))
            state_list.append(result.group(4))
    
    d = {
        'rank': rank_list,
        'company': company_list,
        'city': city_list,
        'state': state_list
    }
    return pd.DataFrame(data=d)

def clean_2018_norank_data(filepath):
    ''' 
    input: file in the format: Company Name (City, State)
    output: pandas dataframe
    '''
    company_list = list()
    city_list = list()
    state_list = list()
    
    for line in open(filepath).read().split('\n'):
        result = re.match(r'^(.*) \((.*), ([A-Z][A-Z])\)', line)
        if result:
            company_list.append(result.group(1))
            city_list.append(result.group(2))
            state_list.append(result.group(3))
    
    d = {
        'company': company_list,
        'city': city_list,
        'state': state_list
    }
    return pd.DataFrame(data=d)

def clean_and_merge_data(large_filepath, small_filepath, isRank=True):
    if isRank:
        large_df = clean_2018_rank_data(large_filepath)
        large_df['type'] = 'large'
        small_df = clean_2018_rank_data(small_filepath)
        small_df['type'] = 'small'
        df = pd.concat([large_df, small_df]).set_index('company')
    else:
        large_df = clean_2018_norank_data(large_filepath)
        large_df['type'] = 'large'
        small_df = clean_2018_norank_data(small_filepath)
        small_df['type'] = 'small'
        df = pd.concat([large_df, small_df]).set_index('company')

    # filter out cities not in Bay Area
    df = df[df['city'].isin(bay_area)]
    return df

In [142]:
happy_df = clean_and_merge_data('2018-happy-large.txt', '2018-happy-small.txt')
happy_df

                   rank           city state   type
company
Netflix               2      Los Gatos    CA  large
Google                3  Mountain View    CA  large
Salesforce            5  San Francisco    CA  large
Intuit                8  Mountain View    CA  large
Nevro                11   Redwood City    CA  large
Facebook             16     Menlo Park    CA  large
eBay                 18       San Jose    CA  large
Adobe                23       San Jose    CA  large
NVIDIA               25    Santa Clara    CA  large
BranchMetrics         1   Redwood City    CA  small
TripActions           3      Palo Alto    CA  small
Periscope Data        4  San Francisco    CA  small
Sitetracker          10      Palo Alto    CA  small
Swift Navigation     11  San Francisco    CA  small
Tally Technologies   15  San Francisco    CA  small
Roofstock            21        Oakland    CA  small
Envoy                24  San Francisco    CA  small

In [143]:
manager_df = clean_and_merge_data('2018-managers-large.txt', '2018-managers-small.txt', False)
manager_df

                        city state   type
company
Facebook          Menlo Park    CA  large
Google         Mountain View    CA  large
Intuit         Mountain View    CA  large
Netflix            Los Gatos    CA  large
Nevro           Redwood City    CA  large
Salesforce     San Francisco    CA  large
Roofstock            Oakland    CA  small
Sitetracker        Palo Alto    CA  small
The ExecRanks         Novato    CA  small

In [144]:
culture_df = clean_and_merge_data('2018-culture-large.txt', '2018-culture-small.txt')
culture_df

                  rank           city state   type
company
Google               2  Mountain View    CA  large
Intuit               7  Mountain View    CA  large
Salesforce           8  San Francisco    CA  large
Facebook            16     Menlo Park    CA  large
Nevro               21   Redwood City    CA  large
Globant             24  San Francisco    CA  large
LinkedIn            25  Mountain View    CA  large
Sunrun              29  San Francisco    CA  large
VMware              37      Palo Alto    CA  large
Kaiser Permanente   38        Oakland    CA  large
Adobe               41       San Jose    CA  large
TripActions          4      Palo Alto    CA  small
People.ai            7  San Francisco    CA  small
Sitetracker          9      Palo Alto    CA  small
Gainsight           11   Redwood City    CA  small
Periscope Data      14  San Francisco    CA  small
Eargo               16       San Jose    CA  small
Branch Metrics      19   Redwood City    CA  small
Life360             20  San Francisco    CA  small
KRT Marketing       23      Lafayette    CA  small
Sonder              27  San Francisco    CA  small
HomeLight           30  San Francisco    CA  small
The ExecRanks       43         Novato    CA  small
Nylas               45  San Francisco    CA  small

In [145]:
women_df = clean_and_merge_data('2018-women-large.txt', '2018-women-small.txt', False)
women_df

                         city state   type
company
Adobe                San Jose    CA  large
eBay                 San Jose    CA  large
Facebook           Menlo Park    CA  large
Google          Mountain View    CA  large
Intuit          Mountain View    CA  large
Nevro            Redwood City    CA  large
Prudential             Newark    NJ  large
Salesforce      San Francisco    CA  large
Sunrun          San Francisco    CA  large
Eargo                San Jose    CA  small
Periscope Data  San Francisco    CA  small
Pramata              Brisbane    CA  small
TripActions         Palo Alto    CA  small

In [146]:
balance_df = clean_and_merge_data('2018-balance-large.txt', '2018-balance-small.txt')
balance_df

                 rank           city state   type
company
Intuit              2  Mountain View    CA  large
Nevro               6   Redwood City    CA  large
Zendesk            16  San Francisco    CA  large
Brighterion         6  San Francisco    CA  small
PandaDoc            8  San Francisco    CA  small
Swift Navigation   11  San Francisco    CA  small
AODocs             13  San Francisco    CA  small
The ExecRanks      17         Novato    CA  small
Redbooth           18      Palo Alto    CA  small
Rev.com            20  San Francisco    CA  small

In [147]:
develop_df = clean_and_merge_data('2018-develop-large.txt', '2018-develop-small.txt', False)
develop_df

                           city state   type
company
Facebook             Menlo Park    CA  large
Google            Mountain View    CA  large
Intuit            Mountain View    CA  large
Envoy             San Francisco    CA  small
PandaDoc          San Francisco    CA  small
Periscope Data    San Francisco    CA  small
Redbooth              Palo Alto    CA  small
Sitetracker           Palo Alto    CA  small
Swift Navigation  San Francisco    CA  small

In [148]:
benefits_df = clean_and_merge_data('2018-benefits-large.txt', '2018-benefits-small.txt')
benefits_df

                  rank           city state   type
company
Facebook             1     Menlo Park    CA  large
Salesforce           2  San Francisco    CA  large
Google               3  Mountain View    CA  large
Intuit               8  Mountain View    CA  large
Zynga                9  San Francisco    CA  large
Kaiser Permanente   10        Oakland    CA  large
Netflix             12      Los Gatos    CA  large
Dropbox             13  San Francisco    CA  large
Adobe               14       San Jose    CA  large
Twitter             15  San Francisco    CA  large
Uber                17  San Francisco    CA  large
VMware              20      Palo Alto    CA  large
Nevro               21   Redwood City    CA  large
Cisco               25       San Jose    CA  large
PayPal              34       San Jose    CA  large
Samsung             38       San Jose    CA  large
GE Digital          43      San Ramon    CA  large
Asana                2  San Francisco    CA  small
Periscope Data       4  San Francisco    CA  small
Envoy                6  San Francisco    CA  small
Degreed              7  San Francisco    CA  small
Eargo                8  Mountain View    CA  small
Redbooth            12      Palo Alto    CA  small
HotelTonight        13  San Francisco    CA  small
Brighterion         15  San Francisco    CA  small
TripActions         17      Palo Alto    CA  small
Entelo              24  San Francisco    CA  small
ROBLOX              25      San Mateo    CA  small

In [149]:
pay_df = clean_and_merge_data('2018-pay-large.txt', '2018-pay-small.txt')
pay_df

                    rank           city state   type
company
Google                 1  Mountain View    CA  large
Facebook               2     Menlo Park    CA  large
Salesforce             3  San Francisco    CA  large
Netflix                5      Los Gatos    CA  large
Apple                  6      Cupertino    CA  large
Cisco                  8       San Jose    CA  large
Intuit                 9  Mountain View    CA  large
Chevron Corporation   10      San Ramon    CA  large
eBay                  12       San Jose    CA  large
Adobe                 17       San Jose    CA  large
Zynga                 19  San Francisco    CA  large
NVIDIA                21    Santa Clara    CA  large
Wells Fargo           24  San Francisco    CA  large
VMware                25      Palo Alto    CA  large
Visa                  27    Foster City    CA  large
Nevro                 31   Redwood City    CA  large
PayPal                33       San Jose    CA  large
Kaiser Permanente     50        Oakland    CA  large
TripActions            1      Palo Alto    CA  small
Periscope Data         2  San Francisco    CA  small
Branch Metrics         6      Palo Alto    CA  small
Swift Navigation       7  San Francisco    CA  small
Sitetracker            8      Palo Alto    CA  small
Brighterion           11  San Francisco    CA  small
Sauce Labs            13  San Francisco    CA  small
Pramata               16       Brisbane    CA  small
The ExecRanks         21         Novato    CA  small
Envoy                 22  San Francisco    CA  small

## Which company has all the valued characteristics

In [152]:
# characteristics most valued
# combination of happiness, manager, culture, women treatment, work-life balance, professionally develop
value_list = [happy_df, manager_df, culture_df, women_df, balance_df, develop_df]
pd.concat(value_list, axis=1, join='inner')

,rank,city,state,type,city,state,type,rank,city,state,...,city,state,type,rank,city,state,type,city,state,type
company,,,,,,,,,,,,,,,,,,,,,
Intuit,8,Mountain View,CA,large,Mountain View,CA,large,7,Mountain View,CA,...,Mountain View,CA,large,2,Mountain View,CA,large,Mountain View,CA,large

In [214]:
# without work life balance
# combination of happiness, manager, culture, women treatment, professionally develop
value_list = [happy_df, manager_df, culture_df, women_df, develop_df]
pd.concat(value_list, axis=1, join='inner')

,rank,city,state,type,city,state,type,rank,city,state,type,city,state,type,city,state,type
company,,,,,,,,,,,,,,,,,
Google,3,Mountain View,CA,large,Mountain View,CA,large,2,Mountain View,CA,large,Mountain View,CA,large,Mountain View,CA,large
Intuit,8,Mountain View,CA,large,Mountain View,CA,large,7,Mountain View,CA,large,Mountain View,CA,large,Mountain View,CA,large
Facebook,16,Menlo Park,CA,large,Menlo Park,CA,large,16,Menlo Park,CA,large,Menlo Park,CA,large,Menlo Park,CA,large

In [215]:
# pay and benefit + characteristics most valued
# combination of all
value_list = [happy_df, manager_df, culture_df, women_df, balance_df, develop_df, benefits_df, pay_df]
pd.concat(value_list, axis=1, join='inner')

,rank,city,state,type,city,state,type,rank,city,state,...,state,type,rank,city,state,type,rank,city,state,type
company,,,,,,,,,,,,,,,,,,,,,
Intuit,8,Mountain View,CA,large,Mountain View,CA,large,7,Mountain View,CA,...,CA,large,8,Mountain View,CA,large,9,Mountain View,CA,large

In [216]:
# without work life balance
# combination of all
value_list = [happy_df, manager_df, culture_df, women_df, develop_df, benefits_df, pay_df]
pd.concat(value_list, axis=1, join='inner')

,rank,city,state,type,city,state,type,rank,city,state,...,state,type,rank,city,state,type,rank,city,state,type
company,,,,,,,,,,,,,,,,,,,,,
Google,3,Mountain View,CA,large,Mountain View,CA,large,2,Mountain View,CA,...,CA,large,3,Mountain View,CA,large,1,Mountain View,CA,large
Intuit,8,Mountain View,CA,large,Mountain View,CA,large,7,Mountain View,CA,...,CA,large,8,Mountain View,CA,large,9,Mountain View,CA,large
Facebook,16,Menlo Park,CA,large,Menlo Park,CA,large,16,Menlo Park,CA,...,CA,large,1,Menlo Park,CA,large,2,Menlo Park,CA,large

## Rank companies by number of values

In [224]:
df = pd.concat([happy_df, manager_df, culture_df, women_df, develop_df, benefits_df, pay_df], 
               keys = ['happy', 'manager', 'culture', 'women', 'develop', 'benefits', 'pay'], sort=False)
df

                             rank           city state   type
         company
happy    Netflix                2      Los Gatos    CA  large
         Google                 3  Mountain View    CA  large
         Salesforce             5  San Francisco    CA  large
         Intuit                 8  Mountain View    CA  large
         Nevro                 11   Redwood City    CA  large
         Facebook              16     Menlo Park    CA  large
         eBay                  18       San Jose    CA  large
         Adobe                 23       San Jose    CA  large
         NVIDIA                25    Santa Clara    CA  large
         BranchMetrics          1   Redwood City    CA  small
         TripActions            3      Palo Alto    CA  small
         Periscope Data         4  San Francisco    CA  small
         Sitetracker           10      Palo Alto    CA  small
         Swift Navigation      11  San Francisco    CA  small
         Tally Technologies    15  San Francisco    CA  small
         Roofstock             21        Oakland    CA  small
         Envoy                 24  San Francisco    CA  small
manager  Facebook             NaN     Menlo Park    CA  large
         Google               NaN  Mountain View    CA  large
         Intuit               NaN  Mountain View    CA  large
         Netflix              NaN      Los Gatos    CA  large
         Nevro                NaN   Redwood City    CA  large
         Salesforce           NaN  San Francisco    CA  large
         Roofstock            NaN        Oakland    CA  small
         Sitetracker          NaN      Palo Alto    CA  small
         The ExecRanks        NaN         Novato    CA  small
culture  Google                 2  Mountain View    CA  large
         Intuit                 7  Mountain View    CA  large
         Salesforce             8  San Francisco    CA  large
         Facebook              16     Menlo Park    CA  large
...                           ...            ...   ...    ...
benefits Entelo                24  San Francisco    CA  small
         ROBLOX                25      San Mateo    CA  small
pay      Google                 1  Mountain View    CA  large
         Facebook               2     Menlo Park    CA  large
         Salesforce             3  San Francisco    CA  large
         Netflix                5      Los Gatos    CA  large
         Apple                  6      Cupertino    CA  large
         Cisco                  8       San Jose    CA  large
         Intuit                 9  Mountain View    CA  large
         Chevron Corporation   10      San Ramon    CA  large
         eBay                  12       San Jose    CA  large
         Adobe                 17       San Jose    CA  large
         Zynga                 19  San Francisco    CA  large
         NVIDIA                21    Santa Clara    CA  large
         Wells Fargo           24  San Francisco    CA  large
         VMware                25      Palo Alto    CA  large
         Visa                  27    Foster City    CA  large
         Nevro                 31   Redwood City    CA  large
         PayPal                33       San Jose    CA  large
         Kaiser Permanente     50        Oakland    CA  large
         TripActions            1      Palo Alto    CA  small
         Periscope Data         2  San Francisco    CA  small
         Branch Metrics         6      Palo Alto    CA  small
         Swift Navigation       7  San Francisco    CA  small
         Sitetracker            8      Palo Alto    CA  small
         Brighterion           11  San Francisco    CA  small
         Sauce Labs            13  San Francisco    CA  small
         Pramata               16       Brisbane    CA  small
         The ExecRanks         21         Novato    CA  small
         Envoy                 22  San Francisco    CA  small

[128 rows x 4 columns]

### All characteristics

In [229]:
all_value_list = [happy_df, manager_df, culture_df, women_df, balance_df, develop_df, benefits_df, pay_df]
df = pd.concat(all_value_list, sort=False)
df.groupby('company')['type'].agg(np.size).sort_values(ascending=False)

company
Intuit                 8
Nevro                  7
Google                 7
Facebook               7
Periscope Data         6
Salesforce             6
Sitetracker            5
TripActions            5
Adobe                  5
Envoy                  4
The ExecRanks          4
Swift Navigation       4
Netflix                4
Eargo                  3
Kaiser Permanente      3
Brighterion            3
Redbooth               3
eBay                   3
VMware                 3
Roofstock              2
PayPal                 2
Sunrun                 2
Cisco                  2
NVIDIA                 2
PandaDoc               2
Zynga                  2
Branch Metrics         2
Pramata                2
BranchMetrics          1
Wells Fargo            1
Gainsight              1
Chevron Corporation    1
Asana                  1
Degreed                1
Apple                  1
Dropbox                1
Visa                   1
Entelo                 1
Zendesk                1
Uber                   1
GE Digital             1
HomeLight              1
Globant                1
Twitter                1
Rev.com                1
HotelTonight           1
Tally Technologies     1
KRT Marketing          1
Life360                1
LinkedIn               1
Sonder                 1
Nylas                  1
People.ai              1
Sauce Labs             1
Prudential             1
ROBLOX                 1
Samsung                1
AODocs                 1
Name: type, dtype: int64

In [244]:
large_companies = df[df['type'] == 'large'].index.tolist()
df.loc[df.index.isin(large_companies)].groupby('company')['type'].agg(np.size).sort_values(ascending=False)

company
Intuit                 8
Facebook               7
Google                 7
Nevro                  7
Salesforce             6
Adobe                  5
Netflix                4
Kaiser Permanente      3
VMware                 3
eBay                   3
PayPal                 2
Zynga                  2
NVIDIA                 2
Sunrun                 2
Cisco                  2
Uber                   1
GE Digital             1
Apple                  1
Chevron Corporation    1
Dropbox                1
Zendesk                1
Wells Fargo            1
Globant                1
Prudential             1
Visa                   1
LinkedIn               1
Samsung                1
Twitter                1
Name: type, dtype: int64

In [243]:
small_companies = df[df['type'] == 'small'].index.tolist()
df.loc[df.index.isin(small_companies)].groupby('company')['type'].agg(np.size).sort_values(ascending=False)

company
Periscope Data        6
TripActions           5
Sitetracker           5
Envoy                 4
Swift Navigation      4
The ExecRanks         4
Brighterion           3
Eargo                 3
Redbooth              3
Pramata               2
Roofstock             2
PandaDoc              2
Branch Metrics        2
HomeLight             1
Degreed               1
BranchMetrics         1
Entelo                1
Asana                 1
Gainsight             1
Nylas                 1
HotelTonight          1
KRT Marketing         1
Life360               1
People.ai             1
ROBLOX                1
Rev.com               1
Sauce Labs            1
Sonder                1
Tally Technologies    1
AODocs                1
Name: type, dtype: int64

### Remove companies that do not have work life balance

In [239]:
balance_companies = balance_df.index.tolist()
df.loc[df.index.isin(balance_companies)].groupby('company')['type'].agg(np.size).sort_values(ascending=False)

company
Intuit              8
Nevro               7
The ExecRanks       4
Swift Navigation    4
Redbooth            3
Brighterion         3
PandaDoc            2
Zendesk             1
Rev.com             1
AODocs              1
Name: type, dtype: int64